* {
    margin: 0;
    padding: 0;
}
#top {
    position: fixed;
    width: 100%;
    color: black;
    height: 95px;
    z-index: 2;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
div {
    background-color: #fffafa;
}
.content {
    padding-top: 100px;
    color: black;
    position: absolute;
    width: 49%;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding-left: 1%;
}
#left {
    left: 0;
    right: 0;
}
#right {
    left: 50%;
    right: 0;
}
div.content > * {
    display: block;
}
textarea {
    height: 90%;
    width: 90%;
}
textarea.half {
    height: 42%;
}
div.options > * {
    display: inline-block;
    padding-left: 5px;
}
